html {
  background-color: #aFaFaF;
  min-height: 100vh;
  min-width: 100vw;
}

#title {
  color: white;
}

.coneOrCube {
  height: 45vw;
  width: 45vw;

  text-align: center;
  overflow: hidden;

  border-radius: 20px;

  border: 3px solid black;
}

.table {
  width: 50vw;
  height: 45vw;
  border-radius: 20px;

  margin-left: 5vw !important;
}

th, td {
  border: 3px solid black;
  height: calc((45vw - (7px * 3))/3)  
}

.text {
  padding-top: 15vw;
  font-size: 72px;
}

.App {
  margin-left: 1em;
}